/* POPPINS FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    line-height: 75px;
    box-shadow: 3px 3px 10px #dedede;
    background-color: #ffff;
    z-index: 100;
}

.nav-logo p {
    position: absolute;
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    left: 5%;
}

.nav-menu ul {
    display: flex;
    position: absolute;
    left: 37%;
}

.nav-menu ul .mob_li {
    display: none;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #787878;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover,
.active {
    border-bottom: 2px solid #787878;
}

.nav-button {
    position: absolute;
    right: 5%;
}

.nav-button .btn {
    margin-left: 40px;
    font-size: 16px;
    height: 40px;
    font-weight: 500;
    background-color: transparent;
    color: #787878;
    border: none;
    cursor: pointer;
}

.btn:hover {
    border-bottom: 2px solid #787878;
}

#registerBtn {
    margin-left: 15px;
}

.nav-menu-btn {
    display: none;
}

.illustration {
    width: 500px;
    margin-top: 115px;
    margin-left: 75px;
}

.illu-quoat-heading {
    color: #474545;
    font-size: 37px;
    margin-bottom: 7px;
    font-weight: 800;
}

.illu-quoat-para {
    color: #474545;
}

.login-container {
    position: absolute;
    left: 55%;
    top: 17%;
    margin: auto;
    padding: 2%;
    width: 40%;
    background-color: gainsboro;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.register-container {
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}

header {
    color: #121212;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-forms {
    display: flex;
    gap: 10px;
}

.input-field {
    font-size: 15px;
    background: #12121230;
    color: #121212;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover,
.input-field:focus {
    background: #12121222;
}

::-webkit-input-placeholder {
    color: #121212;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #121212;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: #121212;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: #121212c9;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: #121212;
    font-size: small;
    margin-top: 10px;
    margin-left: 7%;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two label a {
    text-decoration: none;
    color: #121212;
}

.two label a:hover {
    text-decoration: underline;
}

.google-signin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.custom-google-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-google-btn .fab.fa-google {
    color: #0c0101;
}

.custom-google-btn:focus {
    outline: none;
}

@media only screen and (max-width: 786px) {
    .nav {
        display: none;
    }

    .nav-button {
        display: none;
    }

    .illustration {
        display: none;
    }

    .nav-menu.responsive {
        top: 100px;
    }

    .nav-menu {
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }

    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-menu-btn {
        display: block;
    }

    .nav-menu-btn i {
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }

    .nav-menu-btn i:hover {
        background: rgba(255, 255, 255, 0.15);
    }
}

@media only screen and (max-width: 540px) {
    .wrapper {
        min-height: 100vh;
    }

    body {
        overflow: hidden;
        overflow-y: scroll;
    }

    .illustration {
        display: none;
    }

    .form-box {
        width: 100%;
        position: absolute;
        left: -15%;
        height: 500px;
    }

    .register-container,
    .login-container {
        width: 100%;
        padding: 0 20px;
    }

    .register-container .two-forms {
        flex-direction: column;
        gap: 0;
    }

    .login-container {
        left: 20%;
        top: 10%;
        margin: auto;
        padding: 2%;
        width: 90%;
        background-color: transparent;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        transition: .5s ease-in-out;
    }
}

@media (width: 768px) {
    .nav {
        display: none;
    }

    .login-container {
        left: 5%;
        top: 10%;
        margin: auto;
        padding: 2%;
        width: 90%;
        background-color: transparent;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        transition: .5s ease-in-out;
    }
}

@media (width: 820px) {
    .nav {
        display: none;
    }

    .illustration {
        display: none;
    }

    .login-container {
        left: 5%;
        top: 10%;
        margin: auto;
        padding: 2%;
        width: 90%;
        background-color: transparent;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        transition: .5s ease-in-out;
    }
}

@media (width: 1024px) {
    .nav {
        display: none;
    }

    .illustration {
        display: none;
    }
    .login-container {
        left: 5%;
        top: 10%;
        margin: auto;
        padding: 2%;
        width: 90%;
        background-color: transparent;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }
}